<h2>Welcome to Farmer's Market.</h2>
<p id="welcome">
  Whether you're looking for a large delivery or a one-time order of a
  specialty item, we help connect you with the freshest produce from local
  farms!
</p>

<%= link_to "View Farms", farms_path %>
