<h2>Products</h2>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to "#{product.name}", product_path(product) %>
    </li>

<% end %>
</ul>
<%= link_to "(+)", new_product_path %>
<%= link_to "Back to Farms", farms_path %>
